/* Сперва общие правила */

* {
    box-sizing: border-box
}

/* Потом селекторы по тегам */

html {
font-family: Arial;

}

main {
    width: 300px;
    margin: 0px auto;
}

p {

}

a {

}

/* Колонки */

.row {
display: flex;
margin-bottom: 24px;
}
.col {flex:auto;}


/* Потом селекторы по классам */

.text-input {

width:100%;
padding: 8px 16px;
margin-bottom: 16px;
border-radius: 4px;
border: 1px solid #C7C7C7;

}

.button {

color:#fff;
border-style: none;
padding:16px 24px;
background-color:#554AF8;
border-radius: 4px;

}

/* Потом специальные правила по страничкам */

/* Login*/

.input-login {

width:100%;
padding: 8px 16px;
margin-bottom: 16px;
border-radius: 4px;
border: 1px solid #C7C7C7;
}


/* Страничка жанров и тегов */

.genre-first {

background-color: #E1F5EA;
padding: 12px 16px;
margin-bottom: 16px;
border-radius: 4px;


}

.genre-second {

background-color: #CBEDFF;
padding: 12px 16px;
margin-bottom: 16px;
border-radius: 4px;
width: 75%;
}

.genre-third {

background-color: #EEE5BD;
padding: 12px 16px;
margin-bottom: 16px;
border-radius: 4px;
width: 50%;

}

.genre-fourth {

background-color: #EBDCF9;
padding: 12px 16px;
margin-bottom: 16px;
border-radius: 4px;
width: 35%;
}

.tag {

color:#554AF8;

}

/* Страничка популярного */

.cover {

width: 80%;

}

/* Страничка подписки  */

.box-green {

padding: 12px 16px;
margin-bottom: 16px;
border-radius: 4px;
background-color: #E1F5EA;
margin-bottom: 32px;

}

.box-purple {

padding: 12px 16px;
margin-bottom: 16px;
margin-top: 36px;
border-radius: 4px;
background-color: #EBDCF9;
margin-bottom: 32px;

}

.text-large {
font-size: 32px;
}

.button-link {

color:#fff;
border-style: none;
padding:12px 24px;
background-color:#554AF8;
border-radius: 4px;
text-decoration: none;
margin-right: 16px;
}
